version: "3.9"

services:
  app:
    build: .
    container_name: agente-python
    volumes: 
      - ./app:/app/app
    depends_on:
      ollama:
        condition: service_healthy
    environment:
      - OLLAMA_HOST=http://ollama:11434
    networks:
      - agent-network 
    stdin_open: true
    tty: true

  ollama:
    image: ollama/ollama
    container_name: ollama-server 
    ports:
      - "11434:11434"
    volumes:
      - ollama-data:/root/.ollama
    networks:
      - agent-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:11434/api/tags"]
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 30s
    
volumes:
  ollama-data:

networks:
  agent-network:
